<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<form method="post" action="/ask">
    <textarea name="question" cols="100" rows="20"></textarea>
    <button type="submit">Gửi</button>
</form>