<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question & Ask</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <nav class="menu">
        <a href="/ask">
            <span>Ask</span>
        </a>
        <a href="/">
            <span>Reply Ask</span>
        </a>
    </nav>
    {{{body}}}
</body>

</html>