<div class="main">
    <form class="main-form" action="/newgame" method="POST">
        <input type="text" name="val1" placeholder="Player 1...">
        <input type="text" name="val2" placeholder="Player 2...">
        <input type="text" name="val3" placeholder="Player 3...">
        <input type="text" name="val4" placeholder="Player 4...">
        <button type="submit" name="submit" >CREATE NEW GAME</button>
    </form>
</div>