html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background: #FBFEF9;
}

.title{
    margin-top: 70px;
    
}

.title>h2{
    color: #333333;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 5px solid #CED0CD;
}

.main{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.main-score{
    margin-top: 20px;
}

.main>.main-form > input[type='text']{
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    border: 2px solid  #BF1363;
    border-radius: 7px;
}
.main> .main-form > button{
    padding: 20px 15px;
    margin-top: 15px;
    background-color: #BF1363;
    color: #fff;
    border: none;
    border-radius: 10px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid  #BF1363;
}

#customers td, #customers th {
    padding: 8px;
}

#customers td input[type='number']{
    width: 45%;
    border-radius: 10px;
    padding: 4px 5px;
    border-style: groove;
    background: #FBFEF9;
}

#customers tr:nth-child(odd){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #BF1363;
    color: white;
    font-weight: bold;
}

.addround{
    text-align: center;
}

.addround > input[type='button']{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 15px 60px;
    margin-top: 30px;
    background-color: #BF1363;
    color: #fff;
    border: none;
    border-radius: 5px;
}