<div class="main-ask">
    <h1 id="title">{{content}}</h1>
    <div class="answer">
        <h3 class="button-true">{{true}} Đúng/Có</h3>
        <h3 class="button-false">{{false}} Sai/Không</h3>
    </div>
</div>