
<div class="main-ask">
<h1 id="title">Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<form method="post" action="/ask">
    <textarea placeholder="Enter your ask." id="text" name="question" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>
    <br>
    <input class="button" type="submit" value="Send">
</form>
</div>